<h1>ITParc on Rails</h1>
<ul>
	<li><%= link_to "Administración de Empleadores", employers_path %></li>
	<li><%= link_to "Administración de Trabajos", jobs_path %></li>
	<li><%= link_to "Administración de Trabajadores", workers_path %></li>
	<li><%= link_to "Registrarse", new_user_path %></li>
	<li><%= link_to "Login", account_path %></li>
</ul>