<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Ends</th>
    <th>Remaining</th>
    <th>Location</th>
    <th>Budget</th>
    <th>Employer</th>
    <th>Status</th>
  </tr>
<% @jobs.each do |job| -%>
  <tr>
    <td><%=h job.title %></td>
    <td><%=h job.description %></td>
    <td><%=h job.category.name %></td>
    <td><%=h job.end_time %></td>
    <td><%=h distance_of_time_in_words(Time.now, job.end_time) %>
    <td><%=h job.location %></td>
    <td><%=h job.budget %></td>
    <td><%=h job.employer.full_name %></td>
    <td><%=h job.state.capitalize %></td>
	<td><%= link_to 'Bid', new_job_bid_path(job) %></td>
	<td><%= link_to 'Show', job %></td>
	<% if job.draft? -%>
	<td><%= link_to 'Publish', :controller => 'jobs', :action => 'publish', :id => job.id %></td>
	<% end -%>
	<% if can? :update, @jobs -%>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
    
  </tr>
<% end -%>
</table>