<h1>Nuevo Trabajo</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.date_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.date_select :end_time %>
  </p>
  <p>
    <%= f.label :project_start %><br />
    <%= f.date_select :project_start %>
  </p>
  <p>
    <%= f.label :project_finish %><br />
    <%= f.date_select :project_finish %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :budget, 'Budget in Dollars' %><br />
    <%= f.text_field :budget %>
  </p>
  <p>
    <%= f.label :pricing_method %><br />
    <%= f.text_field :pricing_method %>
  </p>
  <p>
    <%= f.label :service_contact %><br />
    <%= f.text_field :service_contact %>
  </p>
  <p>
    <%= f.label :buyers_support_contact %><br />
    <%= f.text_field :buyers_support_contact %>
  </p>
	<% unless params[:employer_id] %>
  <p>  	
	<% if current_user && current_user.admin? %>
	<%= f.label :employer_id %><br />
		<%= select("job", "employer_id", Employer.all.collect {|p| [ p.full_name, p.id ] }, { :include_blank => false }) %>
	<% end %>
  </p>
	<% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>