%h1 New Job

= simple_form_for @job do |f|
    = f.input :title
    = f.input :description
    = f.input :start_time
    = f.input :end_time
    = f.input :project_begin
    = f.input :project_finish
    = f.input :category_id, :collection => Category.all
    = f.input :location
    = f.input :budget
    = f.input :pricing_method
    = f.input :service_contact
    = f.input :buyers_support_contact
    = f.button :submit