<div class="singleForm"><%= form.label :email %><%= form.text_field :email %></div>
<div class="clearfix">
    <div class="col2Form"><%= form.label :password, form.object.new_record? ? nil : "Change password" %><%= form.password_field :password %></div>
    <div class="col2Form"><%= form.label :password_confirmation %><%= form.password_field :password_confirmation %></div>
</div>