<p>
  <%= w.label :first_name %><br />
  <%= w.text_field :first_name %>
</p>
<p>
  <%= w.label :last_name %><br />
  <%= w.text_field :last_name %>
</p>
<p>
  <%= w.label :phone %><br />
  <%= w.text_field :phone %>
</p>
<p>
  <%= w.label :country %><br />
  <%= w.text_field :country %>
</p>
<p>
  <%= w.label :business_name %><br />
  <%= w.text_field :business_name %>
</p>
<p>
  <%= w.label :address1 %><br />
  <%= w.text_field :address1 %>
</p>
<p>
  <%= w.label :address2 %><br />
  <%= w.text_field :address2 %>
</p>
<p>
  <%= w.label :city %><br />
  <%= w.text_field :city %>
</p>
<p>
  <%= w.label :state %><br />
  <%= w.text_field :state %>
</p>
<p>
  <%= w.label :zip_code %><br />
  <%= w.text_field :zip_code %>
</p>
<p>
  <%= w.label :company_phone %><br />
  <%= w.text_field :company_phone %>
</p>
<p>
  <%= w.label :website_url %><br />
  <%= w.text_field :website_url %>
</p>
<p>
  <%= w.label :number_employees %><br />
  <%= w.text_field :number_employees %>
</p>
<p>
  <%= w.label :year_comp_founded %><br />
  <%= w.text_field :year_comp_founded %>
</p>
<p>
  <%= w.label :stock_parts %><br />
  <%= w.text_field :stock_parts %>
</p>
<p>
  <%= w.label :company_logo %><br />
  <%= w.text_field :company_logo %>
</p>
<p>
  <%= w.label :company_background %><br />
  <%= w.text_area :company_background %>
</p>
<p>
  <%= w.label :detailed_service_desc %><br />
  <%= w.text_area :detailed_service_desc %>
</p>