<p>
      <%= e.label :first_name %><br />
      <%= e.text_field :first_name %>
    </p>
    <p>
      <%= e.label :last_name %><br />
      <%= e.text_field :last_name %>
    </p>
    <p>
      <%= e.label :company_name %><br />
      <%= e.text_field :company_name %>
    </p>
    <p>
      <%= e.label :address1 %><br />
      <%= e.text_field :address1 %>
    </p>
    <p>
      <%= e.label :address2 %><br />
      <%= e.text_field :address2 %>
    </p>
    <p>
      <%= e.label :city %><br />
      <%= e.text_field :city %>
    </p>
    <p>
      <%= e.label :state %><br />
      <%= e.text_field :state %>
    </p>
    <p>
      <%= e.label :zip_code %><br />
      <%= e.text_field :zip_code %>
    </p>
    <p>
      <%= e.label :country %><br />
      <%= e.text_field :country %>
    </p>
    <p>
      <%= e.label :user_id %><br />
      <%= e.text_field :user_id %>
    </p>
    <p>
      <%= e.label :phone %><br />
      <%= e.text_field :phone %>
    </p>
    <p>
      <%= e.label :pay_method %><br />
      <%= e.text_field :pay_method %>
    </p>