<div id="content" class="col2 clearfix">
	<div class="firstCol">
	<div class="borderBgWhite">
    <h1>IT Service Buyer Sign Up</h1>
	<span class="arrow"></span>
	<div class="roundcont">
	   <div class="roundtop">
		 <img src="/images/box_borderBgWhite_tl.png" alt="" width="15" height="15" class="corner" style="display: none" />
	   </div>

	   <div class="boxContent">
       <%= form_for @user, :url => account_path do |f| %>
          <%= f.error_messages %>
          <%= render :partial => "form", :object => f %>
          <%= fields_for :employer do |builder| %>
              <%= render 'new_employer', :e => builder %>
          <% end %>
		  <div class="rowButton clearfix" style="">
				<div class="line"></div>
				<a class="mainButton" href="#"><span>Create my account</span></a>
		  </div>
       <% end %>
       </div>
       <div class="roundbottom">
			 <img src="/images/box_borderBgWhite_bl.png" alt="" width="15" height="15" class="corner" style="display: none" />
       </div>
	</div>	
	</div>
	</div>
	<div class="lastCol">
	</div>
</div>