<h1>Register</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <% if params[:id] == 'employer' %>
      <% f.fields_for @user.employer do |e| %>
         <%= render :partial => 'new_employer', :locals => { :e => e } %>
      <% end %>
  <% else %>
      <% f.fields_for @user.worker do |w| %>
         <%= render :partial => 'new_worker', :locals => { :w => w } %>
      <% end %>
  <% end %>
  <%= f.submit "Unirse" %>
<% end %>