<h1>Register</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <% unless @employer.nil? %>
      <% fields_for :employer do |builder| %>
         <%= render 'new_employer', :e => builder %>
      <% end %>
  <% else %>
      <% fields_for :worker do |builder| %>
         <%= render 'new_worker', :w => builder %>
      <% end %>
  <% end %>
  <%= f.submit "Unirse" %>
<% end %>