<p>
  <b>First name:</b>
  <%=h @worker.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @worker.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @worker.phone %>
</p>

<p>
  <b>Country:</b>
  <%=h @worker.country %>
</p>

<p>
  <b>Business name:</b>
  <%=h @worker.business_name %>
</p>

<p>
  <b>Address1:</b>
  <%=h @worker.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @worker.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @worker.city %>
</p>

<p>
  <b>State:</b>
  <%=h @worker.state %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @worker.zip_code %>
</p>

<p>
  <b>Company phone:</b>
  <%=h @worker.company_phone %>
</p>

<p>
  <b>Website url:</b>
  <%=h @worker.website_url %>
</p>

<p>
  <b>Number employees:</b>
  <%=h @worker.number_employees %>
</p>

<p>
  <b>Year comp founded:</b>
  <%=h @worker.year_comp_founded %>
</p>

<p>
  <b>Stock parts:</b>
  <%=h @worker.stock_parts %>
</p>

<p>
  <b>Company logo:</b>
  <%=h @worker.company_logo %>
</p>

<p>
  <b>Company background:</b>
  <%=h @worker.company_background %>
</p>

<p>
  <b>Detailed service desc:</b>
  <%=h @worker.detailed_service_desc %>
</p>


<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>