<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ITParc - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'application' %>
</head>
<body>
<div class="login">
    <ul>
        <% unless current_user_session %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register as Employer",  new_account_path(:type => 'employer') %></li>
        <li><%= link_to "Register as Worker", new_account_path(:type => 'worker') %></li>
        <% else %>
        <li><%= link_to "Logout", current_user_session, :method => :delete %></li>
        <li>Edit Profile</li>
        <% end %>
    </ul>
</div>
<p style="color: green"><%= flash[:notice] %><%= flash[:error] %></p>

<%= yield %>

</body>
<% if Rails.env == 'development' %>
<%= javascript_include_tag "jquery-1.4.2.js", "application.js", :cache => true %>
<% else %>
<script src="http://www.google.com/jsapi"></script>
<script>google.load("jquery", "1.4.2");</script>
<%= javascript_include_tag "application.js", :cache => true %>
<% end %>
</html>